
#home{
    font-size: 50px;
    margin-left: 5px;
    color: white;
}
body{
    background-color: black;
}

#perfil{
    width: 100px;
    height: 100px;
}

.titulo{
    position: fixed;
    color: blue;
}

#background {
    width: 300px;
    height: 250px;
}

#icone{
   color: white;
}

.icone{
    
    width: 40px;
    height: 40px;
}

#divicon{
    text-align: center;
}


